<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - PetApp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>
    <section class="section">
      <header>
        <nav class="navbar">
            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="/">Home</a>
                    <a class="navbar-item" href="/dogs/dog_viz/">DogViz</a>
                    <a class="navbar-item" href="/cats/cat_viz/">CatViz</a>
                </div>
            </div>
        </nav>
        <h1 class="title">PetApp</h1>
        <p class="subtitle">A one-stop-shop for all pet related tech.</p>
        <hr>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    </section>
</body>
</html>